@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin:0;
  padding:0;
  background-color: black;
  filter: invert(100%);
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;

}
.row > div > button {
  flex: 0 0 45px;
  background-color: rgba(0, 0, 139,0.03);
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: 0;
  border-radius: 100%;
  margin: 10px;
  transition-duration: .3s;
}
.row > div > button:hover {
  opacity: .5;
  cursor: pointer;
}


.abs-date-indicator{
  margin-top: 20px;
  border-radius: 17px;
  color: darkblue;
  font-size: 14px;
  font-family: 'Poppins';
  padding: 10px 20px;
  background-color: rgba(0, 0, 139,0.03);
}

.btn-back-container,
.btn-next-container{
  display: flex;
  margin: 40px;
}